// .bg__img{
//     width: 100%;
// }
.bg{
    font-family: "Montserrat";
    font-size: 3.2rem;
    font-weight: 650;
    text-transform: uppercase;
    position: absolute;
    top: 5.2rem;
    right: 10rem;
    width: 24rem;
    // @include respond(tab-land){
    //     right: 5rem;
    // }
    // @include respond(tab-port){
    //     right: 0;
    //     top: 5rem;
    //     font-size: 2.8rem;
    // }
    // @include respond(phone){
    //     left: 36rem;
    //     top: 6rem;
    //     font-size: 2.6rem;
    // }
    // @include respond(550){
    //     left: 30rem;
    //     top: 6.5rem;
    // }
    // @include respond(490){
    //     left: 28rem;
    //     top: 6.5rem;
    // }
    // @include respond(470){
    //     left: 26rem;
    //     top: 6rem;
    //     font-size: 2.4rem;
    // }
    // @include respond(445){
    //     left: 24rem;
    //     top: 7rem;
    //     font-size: 2rem;
    // }
    // @include respond(385){
    //     left: 22rem;
    //     top: 8rem;
    // }
    // @include respond(355){
    //     left: 20rem;
    //     top: 8rem;
    //     font-size: 1.6rem;
    // }
    // @include respond(mini-phone){
    //     left: 19.5rem;
    //     top: 9rem;
    //     font-size: 1.5rem;
    // }
}