.nav{
    &__checkbox{
        display: none;
    }
    &__checkbox:checked ~ &-menu{
        @include respond(tab-port){
            display: block;
        }
    }
    &__button{
        display: none;
        @include respond(tab-port){
            display: block;
        }
    }
    &__icon{
        position: fixed;
        top: 5rem;
        right: 5rem;
        &,
        &::after,
        &::before{
            width: 3.5rem;
            height: 0.4rem;
            background-color: black;
            display: block;
            z-index: 999999;
            border-radius: 10rem;
        }
        &::after,
        &::before{
            content: "";
            position:absolute;
            left: 0;
        }
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }
    &-menu{
        @include respond(tab-port){
            display: none; //
            position: absolute;
            top: 11rem !important;
            background-color: rgba($color: #ffff, $alpha: .9);
            width: 100%;
            height: 200vh;
            z-index: 10;
        }
        @include respond(phone){
            top: 8rem !important;
        }
        @include respond(mini-phone){
            top: 6.5rem !important;
        }
        &__ul{
            @include respond(tab-port){
                display: flex;
                flex-direction: column;
            }
            display: flex;
            text-align: center;
            justify-content: space-around;
            &--li{
                border-left: 2px solid $color-line;
                @include respond(tab-port){
                    display: inline-block;
                    height: 100%;
                    border-left: none;
                    padding: 3rem 0;
                    border-top: 2px solid $color-line;
                }
                display: inline-block;
                width: 100%;
                &:hover{
                    background-color: #fafafa;
                }
                &:last-child{
                    border-right: 2px solid $color-line;
                    @include respond(tab-port){
                        border-right: none;
                        border-bottom: 2px solid $color-line;
                    }
                }
                &--a{
                    @include respond(tab-port){
                        display: inline-block;
                        width: 100%;
                    }
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline-block;
                    width: 100%;
                    color: black;
                    &:hover{
                        color: $color-text-hover ;
                    }
                    font-weight: 500;
                }
            }
        }
    }
}

