*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    @include respond(pc){
        font-size: calc(100vw/108);
    }
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;

    max-width: 1080px;
    width: 100%;
    margin: 0 auto;


    background-color: $bg-primary;
}
html,body{
    width: 100vw;
    overflow-x: hidden;
}